{% unless count_article %}
  {% assign count_article = -1 %}
  {% assign count_inproceedings = -1 %}
  {% assign count_incollection = -1 %}
  {% assign count_unpublished = -1 %}
  {% assign count_others = -1 %}
{% endunless %}

{% capture type_total %}
{% if entry.type == "article" %}
  {% bibliography_count -f autogen_all --query @article %}
  {% assign type_tag = "j" %}
  {% assign count_article = count_article | plus: 1 %}
  {% assign entry_number = count_article %}
  {% assign type_tag_class = "journal-icon publication-icon" %}
  {% assign type_name = "Journal Article" %}
{% elsif entry.type == "inproceedings" %}
  {% bibliography_count -f autogen_all --query @inproceedings %}
  {% assign type_tag = "c" %}
  {% assign count_inproceedings = count_inproceedings | plus: 1 %}
  {% assign entry_number = count_inproceedings %}
  {% assign type_tag_class = "conference-icon publication-icon" %}
  {% assign type_name = "Conference Article" %}
{% elsif entry.type == "incollection" %}
  {% bibliography_count -f autogen_all --query @incollection %}
  {% assign type_tag = "bc" %}
  {% assign count_incollection = count_incollection | plus: 1 %}
  {% assign entry_number = count_incollection %}
  {% assign type_tag_class = "bookchapter-icon publication-icon" %}
  {% assign type_name = "Book Chapter" %}
{% elsif entry.type == "unpublished" %}
  {% bibliography_count -f autogen_all --query @unpublished %}
  {% assign type_tag = "p" %}
  {% assign count_unpublished = count_unpublished | plus: 1 %}
  {% assign entry_number = count_unpublished %}
  {% assign type_tag_class = "unpublished-icon publication-icon" %}
  {% assign type_name = "Preprint" %}
{% else %}
  {% assign type_tag = "o" %}
  {% assign count_others = count_others | plus: 1 %}
  {% assign entry_number = count_others %}
  {% assign type_tag_class = "publication-icon" %}
{% endif %}
{% endcapture %}
{% assign entry_number = type_total | minus: entry_number %}

