<div class="people">
<ul>
{% for member in members %}
  {% assign key=member[0] %}
  {% assign details=member[1] %}
  {% assign contact=site.data.member[key] %}
  <li>
  {{ contact.name }}
  {% if details.position %}
    ({{ details.position }})
  {% else %}
    {% for detail in details %}
      {% if detail.courseId %}
        {% if site.data.course[detail.courseId] %}
          {% assign degree = site.data.course[detail.courseId].degree %}
        {% else %}
          {% assign degree = detail.courseId %}
        {% endif %}

        {% if forloop.length == 1 %}
          ({{ degree }})
        {% elsif forloop.first == true %}
          ({{ degree }},
        {% elsif forloop.last == true %}
          {{ degree }})
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
  &nbsp;
  {% if contact.email %}<a href="mailto:{{ contact.email | encode_email }}"><i class="fas fa-envelope"></i></a>{% endif %}
  {% if contact.orcid %}<a href="mailto:{{ contact.orcid | encode_email }}"><i class="ai ai-orcid"></i></a>{% endif %}
  {% if contact.gscholar %}<a href="https://scholar.google.com/citations?user={{ contact.gscholar }}" target="_blank" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>{% endif %}
  {% if contact.dblp %}<a href="https://dblp.org/pid/{{ contact.dblp }}" target="_blank" title="DBLP"><i class="ai ai-dblp"></i></a>{% endif %}
  {% if contact.github %}<a href="https://github.com/{{ contact.github }}" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>{% endif %}
  {% if contact.linkedin %}<a href="https://www.linkedin.com/in/{{ contact.linkedin }}" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a>{% endif %}
  {% if contact.twitter %}<a href="https://twitter.com/{{ contact.twitter }}" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>{% endif %}

  {% for detail in details %}
    {% include student_details.html %}
  {% endfor %}

  </li>
{% endfor %}
</ul>
</div>
