{% if detail.title %}
<div class="student">
  {{ detail.title }}<br>
  <i style="font-size: smaller;">
    {% if detail.supervisorIds %}
      {% assign ids = detail.supervisorIds | split: ' ' %}
      Supervised by
      {% for id in ids %}
        {% if site.data.member[id].name %}
          {% assign name = site.data.member[id].name %}
        {% else %}
          {% assign name = id %}
        {% endif %}
        {% if forloop.last == true %}{{ name }}{% else %}{{ name }},{% endif %}
      {% endfor %}<br>
    {% endif %}

    {% if detail.fundingIds %}
      {% assign ids = detail.fundingIds | split: ' ' %}
      Funded by
      {% for id in ids %}
        {% if site.data.funding[id].name %}
          {% assign name = site.data.funding[id].name %}
        {% else %}
          {% assign name = id %}
        {% endif %}
        {% if forloop.last == true %}{{ name }}{% else %}{{ name }},{% endif %}
      {% endfor %}
    {% endif %}
  </i>
</div>
{% endif %}
