.tag {
    background-color: $blue;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.grid-container {
   display: grid;
   grid-template-columns: auto auto; 
   padding: 0px;
}
.grid-item {
   background-color: rgba(255, 255, 255, 0.8);
   border: 0px;
   padding: 0px;
   text-align: center;
}
.left-align {
   text-align: left;
}
.right-align {
   text-align: right;
}
.grid {
    display: grid;
    @media (min-width: 600px) {
        grid-template-columns: 50% 50% 50%;
    }
}
.grid-item {
    margin-left:0.5rem;
    margin-right:0.5rem;
}
.grid-item:first-child {
    margin-left:0;
}
.grid-item:last-child {
    margin-right:0;
}
.button-link {
    @extend .tag;
    &:after {
        content: " ►";
    }
}
