.publications {
    h2 {
        color: $light-gray;
        // border-bottom: 1px solid $theme-color;
        // border-top: 1px solid $theme-color;
        font-size: 32px;
        margin-bottom: 30px;
        // padding: 20px 0;
        text-align: center;
    }
    a {
        color: $light-gray;
        text-decoration: none;
        &:hover {
            color: $mid-gray;
            text-decoration: none;
        }
    }
    a.anchor {
        display: block;
        position: relative;
        top: -80px;
        visibility: hidden;
    }
}
.publication-type {
    border-top: 1px solid $light-gray;
    color: $light-gray;
    margin: 0 -3em 1ex -2em;
    padding-top: 1ex;
    text-align: right;
}
.year {
    border-top: 1px solid $light-gray;
    color: $light-gray;
    margin: 0 -3em -2.5ex -2em;
    padding-top: 1ex;
    text-align: right;
}
.bibliography {
    margin-bottom: 50px;
    margin-top: 20px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;

    li {
        margin: 10px 0;
        position: relative;

        span { display: block; }
        .hidden {
            font-size: $small-font-size;
            max-height: 0px;
            overflow: hidden;
            text-align: justify;
            -webkit-transition: 0.15s ease;
            -moz-transition: 0.15s ease;
            -ms-transition: 0.15s ease;
            -o-transition: 0.15s ease;
            transition: all 0.15s ease;

            p {
                font-size: smaller;						
                font-family: monospace;
                line-height: 1.4em;
                margin: 10px;
            }
            pre {
                font-size: 1em;
                line-height: 1.4em;
                padding: 10px;
            }
        }
        .hidden.open {
            max-height: 100em;
            -webkit-transition: 0.15s ease;
            -moz-transition: 0.15s ease;
            -ms-transition: 0.15s ease;
            -o-transition: 0.15s ease;
            transition: all 0.15s ease;
        }
        span.abstract.hidden {
            border: dashed 1px $background-color;
        }
        span.abstract.hidden.open {
            border-color: $grey-color;
        }
        span.bibtex.hidden {
            border: dashed 1px $background-color;
            p {
                white-space: pre;
            }
        }
        span.bibtex.hidden.open {
            border-color: $grey-color;
        }
    }
}



/* Publication data */
.publication-block {
    font-size: 16px;
}
.publication-index  {
    display: inline-block;
    vertical-align: middle;
    width: 7%;
    color: black;
    font-size: 14px;
}
.publication-content {
    display: inline-block;
    vertical-align: top;
    width: 88%;
}
.publication-award {
    display:block;
    vertical-align: top;
    color: blue;
    font-weight: 500;
}
.publication-title, .publication-author, .publication-event,
.publication-editor, .publication-venue {
    display: block;
    position: relative;
    font-size: 16px;
}
.publication-title {
    font-weight: 600;
}
.publication-author {
    font-weight: 300;
}
.publication-event {
    font-style: italic;
    font-weight: 400;
}
.publication-event i {
    font-style: italic;
    font-weight: 300;
}



/* Publication type icons */
.publication-icon {
    position: relative;
}
.publication-icon:before {
    vertical-align: top;
    content: "\f0c8";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-left: 0;
    padding-right: 0.2em;
    padding-top: 0.22em;
    position: relative;
    top: 0px;
}
.journal-icon:before {
    color: #BA55D3;
}
.conference-icon:before {
    color: #4169E1;
}
.bookchapter-icon:before {
    color: #009933;
}
.techreport-icon:before {
    color: #663300;
}
.book-icon:before {
    color: #CC9933;
}
.unpublished-icon:before {
    color: #444;
}



/* Publication buttons */
.publication-button {
    display:inline-block;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    border-radius: .25em;
    background-color: #000;
    text-decoration: none;
    margin-right: 1%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.publication-button:hover {
    cursor: pointer;
    background-color: #f44336;
    color: white;
}
.publication-button a {
    color: white;
    text-decoration: none;
    &:hover {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
}
.bibtex-button {
    background-color: #777;
}
.abstract-button {
    background-color: #444;
}
.arxiv-button {
    background-color: $green;
}
.pdf-button {
    background-color: $red-1;
}
.doi-button {
    background-color: $blue-1;
}


/* Publication: header buttons (type and year) */
.publications-header-button {
    display: inline-block;
    border: none;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    margin: 1px 3px 1px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: $light-gray;

    a {
        color: white;
        text-decoration: none;
    }
    &:hover {
        background-color: #f44336;
        a {
            color: white;
        }
    }
    .active-button {
        color: $mid-gray;
    }
}
