.research-item {
    display: grid;
    margin-bottom: 30px;
    width: 100%;
    @media (min-width: 500px) {
        grid-template-columns: 250px 75%;
    }

    .thumbnail {
        display: none;
        @media (min-width: 500px) {
            display: inline-block;
        }

        overflow: hidden;
        height: 150px;
        width: 240px;
        padding: 3px;
        border-radius: 10px;

        img {
            height: 150px;
            width: 240px;
            filter: grayscale(.8);
            -webkit-filter: grayscale(.8);
            &:hover {
                filter: none;
                -webkit-filter: none;
            }
        }
        a {
            position: relative;
            height: 150px;
            width: 100%;
        }
    }

    .details {
        display: inline-block;
        text-align: left;
        padding-left: 10px;
        padding-right: 50px;
        padding-top: 10px;

        h1 {
            font-size: 1.2rem;
            margin: 0;
            padding-bottom: 10px;
        }
        p {
            margin-bottom: 2px;
        }
    }

    .button-area {
        display: block;
        text-align: right;
        padding-right: 5%;
    }
    .button {
        display:inline-block;
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: 500;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: top;
        border-radius: .25em;
        background-color: #000;
        text-decoration: none;
        margin-right: 1%;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        background-color: $theme-color;
        &:after {
            content: " ►";
        }
    }
    .button:hover {
        cursor: pointer;
        background-color: #f44336;
        color: white;
            font-weight: 700;
    }
    .button a {
        color: white;
        text-decoration: none;
        &:hover {
            color: white;
            text-decoration: none;
            font-weight: 700;
        }
    }
}
